<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Poem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>704F8C461DFF8A7C00B5A4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>704F8C621DFF8A7C00B5A4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>704F8C6D1DFF8A7D00B5A4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
